<ion-view view-title="Voat">
  <ion-header-bar no-tap-scroll="true" align-title="center" class="bar-light">
    <div class="buttons">
      <div ng-if="onMyAccount()">
        <button class="button button-clear button-dark" on-release="goToSettings();"><i class="ion-ios-arrow-back"></i> Back</button>
      </div>
      <div ng-if="onAccount() && !onMyAccount()">
        <button class="button button-clear button-dark" on-release="goToPost();"><i class="ion-ios-arrow-back"></i> Back</button>
      </div>
      <div ng-if="onLogin()">
        <button class="button button-clear button-dark" on-release="goToSettings();"><i class="ion-ios-arrow-back"></i> Back</button>
      </div>
      <div ng-if="onPost()">
        <button class="button button-clear button-dark" on-release="goToPosts();"><i class="ion-ios-arrow-back"></i> Back</button>
      </div>
      <div ng-if="onSubmission()">
        <button class="button button-clear button-dark" on-release="goToPosts();"><i class="ion-ios-arrow-back"></i> Back</button>
      </div>
      <div ng-if="onPosts();">
        <button class="button button-clear button-dark" on-release="goToSettings();"><i class="ion-settings"></i></button>
      </div>
    </div>
    <h1 class="title"><img ng-click="showMenu()" src="img/voat-logo.png"></img></h1>
    <div class="buttons" ng-show="onPost() && previousIndex == 3 && lastViewedAccount == getUserName()">
      <button hidden id="historyButton" class="button button-clear button-dark" ng-click="goToMyAccount();">History <i class="ion-ios-arrow-forward"></i></button>
    </div>
  </ion-header-bar>
  <div ng-if="onSubmission()">
    <div class="tabs-striped tabs-top tabs-background-royal tabs-color-light">
      <div class="tabs">
        <a ng-click="updateSubmissionsTabs(0)" id="tab_0" class="tab-item active" href="#">
          <i class="icon ion-link"></i>
          Link
        </a>
        <a ng-click="updateSubmissionsTabs(1)" id="tab_1" class="tab-item" href="#">
          <i class="icon ion-document-text"></i>
          Self
        </a>
      </div>
    </div>
  </div>
  <div ng-if="onAccount()">
    <div class="tabs-striped tabs-top tabs-background-royal tabs-color-light">
      <div class="tabs">
        <a ng-click="updateAccountTabs(0)" id="tab_0" class="tab-item active" href="#">
          <i class="icon ion-ios-paperplane"></i>
          Submissions
        </a>
        <a ng-click="updateAccountTabs(1)" id="tab_1" class="tab-item" href="#">
          <i class="icon ion-document-text"></i>
          Comments
        </a>
        <a ng-click="updateAccountTabs(2)" id="tab_2" class="tab-item" href="#">
          <i class="icon ion-email"></i>
          Messages
        </a>
      </div>
    </div>
  </div>
  <ion-content overflow-scroll="false" class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <ion-slide-box show-pager="false" on-slide-changed="manageSlides($index)" active-slide="1">
      <ion-slide>
        <div ng-switch on="onSettings()">
          <div ng-switch-when="true">
            <ion-list>
              <ion-item ng-click="goToMyAccount()" style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" class="item-icon-left">
                <i class="icon ion-ios-person"></i>
                <h2>Account</h2>
              </ion-item>
              <div class="item item-divider"></div>
              <ion-item style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" ng-click="getVPosts('_default')" class="item item-icon-left item-icon-right">
                <i class="icon ion-bookmark"></i>
                <h2>Default</h2>
                <i class="icon ion-ios-arrow-right"></i>
              </ion-item>
              <ion-item style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" ng-repeat="subverse in subverses" ng-click="getVPosts(subverse)" class="item item-icon-left item-icon-right">
                <i class="icon ion-bookmark"></i>
                <h2>{{ subverse }}</h2>
                <i class="icon ion-ios-arrow-right"></i>
              </ion-item>
            </ion-list>
          </div>
          <div ng-switch-default>
            <p>empty</p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div ng-switch on="onPosts()">
          <div ng-switch-when="true">
            <ion-list can-swipe="true">
              <ion-item style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" class="item item-input-inset">
                <label class="item-input-wrapper">
                  <input id="search" type="text" placeholder="Search">
                </label>
                <button ng-click="searchPosts()" class="button button-small button-clear">
                  Submit
                </button>
              </ion-item>
              <div ng-switch on="submissions">
                <div ng-switch-when="empty">
                  <div class="row">
                    <span class="badge badge-royal col">there aren't any posts</span>
                  </div>
                </div>
                <div ng-switch-when="undefined">
                  <div class="row">
                    <span class="badge badge-royal col">loading posts</span>
                  </div>
                  <div class="row">
                    <span class="col"></span>
                    <span class="col"></span>
                    <span class="col"></span>
                    <span class="col"><ion-spinner icon="ios"></ion-spinner></span>
                    <span class="col"></span>
                    <span class="col"></span>
                    <span class="col"></span>
                  </div>
                </div>
                <div ng-switch-default>
                  <ion-item on-hold="post.hideMenu = !post.hideMenu" style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" on-hold="showOptions({{post.id}})" ng-repeat="post in submissions" class="item-text-wrap item-text-inset item-avatar item-icon-right">
                      <img ng-click="goToLink(post);" ng-src="{{post.thumbnail}}" err-src="img/voat-goat.png">
                      <div ng-click="focus_on(post);">
                        <div ng-switch on="post.title">
                          <div ng-switch-default>
                            <h2 style="max-width: 200px; word-wrap:break-word;">{{post.title}}</h2>
                            <i class="badge badge-royal">{{post.commentCount}}</i>
                          </div>
                        </div>
                        <p>
                          <i style="font-size: 12px; color: #8870ff;">{{post.subverse}}</i> &sdot;
                          <b>{{post.userName}}</b>
                           </p>
                           <p>
                             <i style="font-size: 12px;">{{timeDiff(post.date)}}</i> &sdot;
                           <b style="color: #4aabe7;">{{post.upVotes}}</b> &int; <b style="color: #8870ff;">{{post.downVotes}}</b> &int;
                           <b>{{post.upVotes - post.downVotes}}</b>
                         </p>
                      </div>
                      <div style="border: 0px;" ng-hide="!post.hideMenu || !loggedIn()" class="item item-text-center center item-animate">
                        <br>
                        <div id="{{post.id}}" class="row">
                          <i ng-click="save('submissions', {{post.id}})" class="ion-android-star-outline col"></i>
                          <i ng-click="hide('submissions', {{post.id}})" class="ion-eye-disabled col col-20"></i>
                          <i ng-click="report('submissions', {{post.id}})" class="ion-alert-circled col col-20"></i>
                          <i ng-click="vote('submission', {{post.id}}, 1)" class="ion-arrow-up-a col"></i>
                          <i ng-click="vote('submission', {{post.id}}, -1)" class="ion-arrow-down-a col"></i>
                        </div>
                      </div>
                  </ion-item>
                </div>
              </div>
            </ion-list>
            <div ng-switch on="submissions">
              <div ng-switch-when="empty">
              </div>
              <div ng-switch-when="undefined">
              </div>
              <div ng-switch-default>
                <div class="row">
                  <div class="col"></div>
                  <div class="col"></div>
                  <div ng-if="loadingMore">
                    <ion-spinner class="ios"></ion-spinner>
                  </div>
                  <div ng-if="!loadingMore">
                    <button on-release="loadMore()" class="button button-small button-outline button-royal col">
                      load more
                    </button>
                  </div>
                  <div class="col"></div>
                  <div class="col"></div>
                </div>
                <!--
                <div ng-if="enoughPosts()">
                  <ion-infinite-scroll
                    on-infinite="loadMore();"
                    distance="10%">
                  </ion-infinite-scroll>
                </div>
              -->
              </div>
            </div>
          </div>
          <div ng-switch-default>
            <p>empty</p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div ng-switch on="onPost()">
          <div ng-switch-when="true">
            <div>
              <div ng-switch on="focused_post">
                <div ng-switch-when="undefined">
                  <p>Loading...</p>
                </div>
                <div ng-switch-default>
                  <div on-tap="togglePostMenu();" class="item item-avatar item-text-wrap">
                    <img  ng-click="goToLink(focused_post);" ng-src="{{focused_post.thumbnail}}" err-src="img/voat-goat.png">
                      <h2>{{focused_post.title}}</h2>
                      <p>
                      <i style="font-size: 12px; color: #8870ff;">{{focused_post.subverse}}</i> &sdot;
                      <b>{{focused_post.userName}}</b> &sdot;
                      {{timeDiff(focused_post.date)}} &sdot;
                      <b style="color: #4aabe7;">{{focused_post.upVotes}}</b> &int; <b style="color: #8870ff;">{{focused_post.downVotes}}</b> &int;
                      {{focused_post.upVotes - focused_post.downVotes}}
                      </p>
                    <b>{{focused_post.commentCount}} comments</b>
                  </div>
                  <div ng-show="showPostMenu && loggedIn()" class="item item-text-center center item-animate">
                    <div class="row">
                      <i ng-show="onMySubmission()" ng-click="delete('submissions', {{focused_post.id}})" class="ion-ios-trash col"></i>
                      <i ng-show="onMySubmission() && !isLink()" ng-click="toggleEdit()" class="ion-edit col"></i>
                      <i ng-click="save('submissions', {{focused_post.id}})" class="ion-android-star-outline col"></i>
                      <i ng-click="vote('submission', {{focused_post.id}},  1)" class="ion-arrow-up-a col"></i>
                      <i ng-click="vote('submission', {{focused_post.id}}, -1)" class="ion-arrow-down-a col"></i>
                    </div>
                  </div>
                  <div ng-show="focused_post.content">
                    <div ng-if="isediting">
                      <ion-item class="item item-divider item-text-wrap item-text-left">
                        <textarea autofocus rows="{{getRowCount(focused_post.content)}}" id="editedSubmission" style="resize: none; width: 100%">{{focused_post.content}}</textarea>
                        <button class="button button-small button-block button-outline button-royal" on-tap="edit('submissions', {{focused_post.id}});">Save</button>
                      </ion-item>
                    </div>
                    <div ng-if="!isediting">
                      <div class="item item-divider item-text-wrap item-text-left">
                        <p ng-bind-html="focused_post.formattedContent"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ion-list>
                <label class="item item-input">
                  <textarea style="resize: none; width: 80%" id="commentText" ng-change="canComment()" ng-model="commentText" placeholder="Comments"></textarea>
                  <button ng-show="canComment();" class="button button-small button-outline button-royal" on-tap="comment();">Comment</button>
                </label>
                <div ng-switch on="comments">
                  <div ng-switch-when="undefined">
                    <div class="row">
                      <span class="badge badge-royal col">loading comments</span>
                    </div>
                    <div class="row">
                      <span class="col"></span>
                      <span class="col"></span>
                      <span class="col"></span>
                      <span class="col"><ion-spinner icon="ios"></ion-spinner></span>
                      <span class="col"></span>
                      <span class="col"></span>
                      <span class="col"></span>
                    </div>
                  </div>
                  <div ng-switch-when="">
                    <div class="row">
                      <span class="badge badge-royal col">loading comments</span>
                    </div>
                    <div class="row">
                      <span class="col"></span>
                      <span class="col"></span>
                      <span class="col"></span>
                      <span class="col"><ion-spinner icon="ios"></ion-spinner></span>
                      <span class="col"></span>
                      <span class="col"></span>
                      <span class="col"></span>
                    </div>
                  </div>
                  <div ng-switch-when="empty">
                    <div class="row">
                      <span class="badge badge-royal col">there aren't any comments</span>
                    </div>
                  </div>
                  <div ng-switch-default>
                    <ion-item on-tap="comment.hideMenu = toggleCommentMenu(comment)" style="left: {{comment.level}}px; border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" ng-repeat="comment in comments" class="item-remove-animate item-text-left item-text-wrap">
                      <b style="color: #4aabe7;">{{comment.upVotes}}</b> &int; <b style="color: #8870ff;">{{comment.downVotes}}</b> &int;
                      {{comment.upVotes - comment.downVotes}} &sdot;
                       <b href="">{{comment.userName}}</b> &sdot; <i>{{timeDiff(comment.date)}}</i></p>
                      <div ng-if="comment.isEditing">
                        <label focus-me for="editedComment_{{comment.id}}">
                          <textarea autofocus ng-model="comment.content" rows="{{getRowCount(comment.content)}}" id="editedComment_{{comment.id}}" style="resize: none; width: 100%">{{comment.content}}</textarea>
                          <div ng-if="comment.id == 'fakeid'">
                            <button class="button button-small button-block button-outline button-royal" on-tap="replyToComment(comment);">save</button>
                          </div>
                          <div ng-if="comment.id != 'fakeid'">
                            <button class="button button-small button-block button-outline button-royal" on-tap="edit('comments', {{comment.id}});">save</button>
                          </div>
                        </label>
                      </div>
                      <div ng-if="!comment.isEditing">
                        <p ng-bind-html="comment.formattedContent"></p>
                      </div>
                      <div style="border: 0px;" ng-hide="!comment.hideMenu || !loggedIn()" class="item item-text-center center item-animate">
                        <br>
                        <div id="{{comment.id}}" class="row">
                          <i ng-show="onMyComment(comment.userName)" ng-click="delete('comments', {{comment.id}})" class="ion-ios-trash col"></i>
                          <i ng-show="onMyComment(comment.userName)" ng-click="toggleCommentEdit(comment)" class="ion-edit col"></i>
                          <i ng-show="!onMyComment(comment.userName)" ng-click="createCommentReply(comment)" class="ion-ios-undo col"></i>
                          <i ng-click="save('comments', {{comment.id}})" class="ion-android-star-outline col"></i>
                          <i ng-click="vote('comment', {{comment.id}}, 1)" class="ion-arrow-up-a col"></i>
                          <i ng-click="vote('comment', {{comment.id}}, -1)" class="ion-arrow-down-a col"></i>
                        </div>
                      </div>
                    </ion-item>
                  </div>
                </div>
              </ion-list>
            </div>
          </div>
          <div ng-switch-default>
            <p>empty</p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div ng-switch on="onAccount()">
          <div ng-switch-when="true">
            <br><br><br>
            <div ng-switch on="focused_user">
              <div ng-switch-when="undefined">
                <div class="row">
                  <span class="badge badge-royal col">loading account</span>
                </div>
                <div class="row">
                  <span class="col"></span>
                  <span class="col"></span>
                  <span class="col"></span>
                  <span class="col"><ion-spinner icon="ios"></ion-spinner></span>
                  <span class="col"></span>
                  <span class="col"></span>
                  <span class="col"></span>
                </div>
              </div>
              <div ng-switch-default>
                <ion-list>
                  <ion-item style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" class="item item-avatar item-text-wrap">
                    <img ng-src="{{focused_user.profilePicture}}"></img>
                    <h2>{{focused_user.userName}} <u>{{focused_user.submissionPoints.sum}}</u> | <u>{{focused_user.commentPoints.sum}}</u></h2>
                  </ion-item>
                  <div class="item item-divider">
                    <p>registered {{timeDiff(focused_user.registrationDate)}}</p>
                    <button ng-click="logout()" ng-show="onMyAccount()" class="button button-block button-royal">
                      Logout
                    </button>
                  </div>
                  <div ng-switch on="userItems">
                    <div ng-switch-when="undefined">
                      <div class="row">
                        <span class="badge badge-royal col">loading</span>
                      </div>
                      <div class="row">
                        <span class="col"></span>
                        <span class="col"></span>
                        <span class="col"></span>
                        <span class="col"><ion-spinner icon="ios"></ion-spinner></span>
                        <span class="col"></span>
                        <span class="col"></span>
                        <span class="col"></span>
                      </div>
                    </div>
                    <div ng-switch-when="empty">
                      <div class="row">
                        <span class="badge badge-royal col">nothing to see here</span>
                      </div>
                    </div>
                    <div ng-switch-default>
                      <div ng-if="currentAccountTab == 0">
                        <ion-item ng-repeat="userItem in userItems" on-hold="userItem.hideMenu = !userItem.hideMenu" style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" class="item-text-wrap item-text-inset item-avatar item-icon-right">
                            <img ng-click="goToLink(userItem);" ng-src="{{userItem.thumbnail}}" err-src="img/voat-goat.png">
                            <div ng-click="focus_on(userItem);">
                              <div ng-switch on="userItem.title">
                                <div ng-switch-default>
                                  <h2 style="max-width: 200px; word-wrap:break-word;">{{userItem.title}}</h2>
                                  <i class="badge badge-royal">{{userItem.commentCount}}</i>
                                </div>
                              </div>
                              <p><i style="font-size: 12px; color: #8870ff;">{{userItem.subverse}}</i> &sdot;
                                 <b>{{userItem.userName}}</b>
                                 </p>
                                 <p>
                                   {{timeDiff(userItem.date)}} &sdot;
                                   <b style="color: #4aabe7;">{{userItem.upVotes}}</b> &int; <b style="color: #8870ff;">{{userItem.downVotes}}</b> &int;
                                   {{userItem.upVotes - userItem.downVotes}}
                                 </p>
                            </div>
                            <div style="border: 0px;" ng-hide="!userItem.hideMenu || !loggedIn()" class="item item-text-center center item-animate">
                              <div id="{{userItem.id}}" class="center row">
                                <i ng-click="save('submissions', {{userItem.id}})" class="ion-android-star-outline col"></i>
                                <!--
                                <i ng-click="hide('submissions', {{post.id}})" class="ion-eye-disabled col col-20"></i>
                                <i ng-click="report('submissions', {{post.id}})" class="ion-alert-circled col col-20"></i>
                                -->
                                <i ng-click="vote('submission', {{userItem.id}}, 1)" class="ion-arrow-up-a col"></i>
                                <i ng-click="vote('submission', {{userItem.id}}, -1)" class="ion-arrow-down-a col"></i>
                              </div>
                            </div>
                        </ion-item>
                      </div>
                      <div ng-if="currentAccountTab == 1">
                        <ion-item on-tap="userItem.hideMenu = !userItem.hideMenu" style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" ng-repeat="userItem in userItems" class="item-remove-animate item-text-left item-text-wrap">
                           <b>{{userItem.userName}}</b> &sdot; <i>{{timeDiff(userItem.date)}}</i> &sdot;
                           <b style="color: #4aabe7;">{{userItem.upVotes}}</b> &int; <b style="color: #8870ff;">{{userItem.downVotes}}</b> &int;
                           {{userItem.upVotes - userItem.downVotes}}</p>
                          <p ng-bind-html="userItem.formattedContent"></p>
                          <div style="border: 0px;" ng-hide="!userItem.hideMenu || !loggedIn()" class="item item-text-center center item-animate">
                            <br>
                            <div id="{{userItem.id}}" class="row">
                              <i ng-click="goToContext(userItem.id, userItem.submissionID)" class="ion-ios-list col"></i>
                              <!--
                              <i ng-click="hide('comments', {{comment.id}})" class="ion-eye-disabled col col-20"></i>
                              <i ng-click="report('comments', {{comment.id}})" class="ion-alert-circled col col-20"></i>
                              -->
                              <i ng-click="vote('comment', {{userItem.id}}, 1)" class="ion-arrow-up-a col"></i>
                              <i ng-click="vote('comment', {{userItem.id}}, -1)" class="ion-arrow-down-a col"></i>
                            </div>
                          </div>
                        </ion-item>
                      </div>
                      <div ng-if="currentAccountTab == 2">
                        <ion-item ng-click="userItem.showMenu = true" style="border-style: dotted !important; border-radius: 0px 1px 1px 0px !important" ng-repeat="userItem in userItems" class="item-remove-animate item-text-left item-text-wrap">
                           <b>{{userItem.sender}}</b> <i>{{timeDiff(userItem.sentDate)}}</i></p>
                           <p ng-bind-html="userItem.formattedContent"></p>
                           <div style="border: 0px;" ng-show="userItem.showMenu" class="item item-text-center center item-animate">
                             <textarea autofocus rows="5" id="message_{{userItem.id}}" style="resize: none; width: 100%"></textarea>
                             <button class="button button-small button-block button-outline button-royal" on-tap="replyToMessage(userItem);">send</button>
                           </div>
                        </ion-item>
                      </div>
                    </div>
                  </div>
                </ion-list>
              </div>
            </div>
          </div>
          <div ng-switch-default>
            <p>empty</p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div ng-switch on="onLogin()">
          <div ng-switch-when="true">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" id="user" placeholder="Username">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" id="pass" placeholder="Password">
              </label>
              <button ng-click="login()" class="button button-block button-royal">
                Login
              </button>
            </div>
          </div>
          <div ng-switch-default>
            <p>empty</p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div ng-switch on="onSubmission()">
          <div ng-switch-when="true">
            <br><br>
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input type="text" id="title" placeholder="Title">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Subverse</span>
                <input type="text" id="subverse" placeholder="Subverse">
              </label>
              <label ng-show="onLinkSubmission()" class="item item-input item-floating-label">
                <span class="input-label">Link</span>
                <input type="text" id="link" placeholder="Link">
              </label>
              <label ng-show="!onLinkSubmission()" class="item item-input item-floating-label">
                <span class="input-label">Content</span>
                <input type="text" id="content" placeholder="Content">
              </label>
              <button ng-click="submitPost()" class="button button-block button-royal">
                Submit to Voat
              </button>
            </div>
          </div>
          <div ng-switch-default>
            <p>empty</p>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
